<h1 align="center">All Users</h1>

<div align="center">
    <%= will_paginate %>
</div>
<table class="table table-hover">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Line Manager ID</th>
        <th>Admin?</th>
        <% if logged_in? && current_user.admin? %>
            <th>Delete User</th>
        <% end %>
    </tr>
    
    <% @users.each do |u| %>
        <tr>
            <td>
                <%= link_to u.username, user_path(u) %>
            </td>
            <td>
                <%= u.email %>
            </td>
            <td>
                <%= u.linemanager %>
            </td>
            <td>
                <%= u.admin %>
            </td>
            <% if logged_in? && current_user.admin? %>
                    <td><%= link_to "Delete this user", user_path(u), method: :delete, 
                    data: { confirm: "Are you sure you want to delete the user and all their scores?"} %></td>
            <% end %>
          
            
        </tr>
    <% end %>
</table>
<div align="center">
    <%= will_paginate %>
</div>