<% if logged_in? %>
    <h1 align="center">Your Reportees</h1>
    
    <div align="center">
        <%= will_paginate %>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Users ID</th>
            <th>Line Manager ID</th>
            <th>Latest Score</th>
            <th>Last Updated</th>
            <% if logged_in? && current_user.admin? %>
                <th>Admin?</th>
                <th>Delete User</th>
            <% end %>
        </tr>
        <% @users.each do |u| %>
            <% if logged_in? && (current_user.id.to_s == u.linemanager || current_user.admin? )%>
            <tr>
                <td>
                    <%= link_to u.username, user_path(u) %>
                </td>
                <td>
                    <%= u.email %>
                </td>
                <td>
                    <%= u.id %>
                </td>
                <td>
                    <%= u.linemanager %>
                </td>
                <% if u.articles.last.nil? != true %>
                    <% if u.articles.last.score == "1" %>
                        <td>
                            <%= image_tag 'WSP Health App/bad.png' %>
                        </td>
                    <% elsif u.articles.last.score == "2" %>
                        <td>
                            <%= image_tag 'WSP Health App/soso.png' %>
                        </td>
                    <% elsif u.articles.last.score == "3" %>
                        <td>
                            <%= image_tag 'WSP Health App/fair.png' %>
                        </td>
                    <% elsif u.articles.last.score == "4" %>
                        <td>
                            <%= image_tag 'WSP Health App/okay.png' %>
                        </td>
                    <% elsif u.articles.last.score == "5" %>
                        <td>
                            <%= image_tag 'WSP Health App/happy.png' %>
                        </td>
                    <% end %>
                <% else %>
                <td>
                    N/A
                </td>
                <% end %>
                <% if u.articles.last.nil? != true %>
                <td>
                    <%= u.articles.last.created_at %>
                </td>
                <% else %>
                <td>
                    N/A
                </td>
                <% end %>
                <% if logged_in? && current_user.admin? %>
                <td>
                    <%= u.admin %>
                </td>
                        <td><%= link_to "Delete this user", user_path(u), method: :delete, 
                        data: { confirm: "Are you sure you want to delete the user and all their scores?"} %></td>
                <% end %>
            </tr>
            <% end %>
        <% end %>
    </table>
    <div align="center">
        <%= will_paginate %>
    </div>
<% else %>
    <h1 align="center">You have no right to access this content</h1>
<% end %>